<web-app>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	
	 <servlet>
        <servlet-name>Link</servlet-name>
        <servlet-class>registerServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Link</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
	
</web-app>
